/* Set a background color for the form */
form {
    background-color: #96e5fd;
    padding: 20px;
    border-radius: 10px;
    width:50%;
    margin: 0  auto;
    border: 1px solid #ddd;
  }
  
  /* Style the labels */
  label {
    font-weight: bold;
    display: block;
    /* margin-bottom: 10px; */
  }
  
  /* Style the input fields */
  input, textarea, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  /* Style the submit button */
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the submit button on hover */
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  .contactinfo {
    display:inline-flex;
    
  }
  
  .contactinfo label {
    margin: 10px;;
  }